@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
   font-family: "Outfit", sans-serif;
}

@layer base {
   button {
      @apply cursor-pointer;
   }
   input:not([type="checkbox"]){
      @apply outline-none focus:ring border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500;
   }
   textarea {
      @apply outline-none focus:ring border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 resize-none;
   }
}